{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_flashbags %}
    <div class="flashbags container">
        {% for message in messages %}
            {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with { type:  message['type'], list: message['text'] } %}
        {% endfor %}
    </div>
{% endblock %}

{% block base_content %}
    <main class="content-main">
        {% block not_found_error_content %}
            <div class="container mt-5">

                <h1 class="mt-5 text-center"></h1>
                <p class="text-center w-60-l"></p>

                {% block not_found_error_return %}
<!--                     <div class="text-center">
                        <a href="{{ path('frontend.home.page') }}"
                           class="btn btn-primary justify-center">
                            {{ "checkout.finishButtonBackToShop"|trans|sw_sanitize }}
                        </a>
                    </div> -->
                {% endblock %}

                {% block page_account_order_item_detail_action %}
                        <div class="row order-detail-content-row">
                            <div class="col-12 order-item-reorder- text-center">
                                {% block page_account_order_item_detail_reorder %}
                                    {% set action %}
                                        {% block page_account_order_item_detail_reorder_form_action %}
                                            {{ path('frontend.checkout.line-item.add') }}
                                        {% endblock %}
                                    {% endset %}

                                    <form action="{{ action }}"
                                          id="orderRepeatForm"
                                          method="post"
                                          class="buy-widget order-item-reorder-value"
                                          data-add-to-cart="true">

                                        {% block page_account_order_item_detail_reorder_csrf %}
                                            {{ sw_csrf('frontend.checkout.line-item.add') }}
                                        {% endblock %}

                                        {% block page_account_order_item_detail_reorder_redirect_input %}
                                            <input type="hidden" name="redirectTo" value="frontend.checkout.confirm.page"/>
                                        {% endblock %}

                                        {% block page_account_order_item_detail_reorder_lineitems_input %}
                                            {% for lineItem in orderDetails %}
                                                {% block page_account_order_item_detail_reorder_lineitem_input %}
                                                    {% if lineItem.type == 'product' %}
                                                        <input type="hidden"
                                                               name="lineItems[{{ lineItem.identifier }}][id]"
                                                               value="{{ lineItem.identifier }}">
                                                        <input type="hidden"
                                                               name="lineItems[{{ lineItem.identifier }}][referencedId]"
                                                               value="{{ lineItem.identifier }}">
                                                        <input type="hidden"
                                                               name="lineItems[{{ lineItem.identifier }}][type]"
                                                               value="{{ lineItem.type }}">
                                                        <input type="hidden"
                                                               name="lineItems[{{ lineItem.identifier }}][stackable]"
                                                               value="1">
                                                        <input type="hidden"
                                                               name="lineItems[{{ lineItem.identifier }}][removable]"
                                                               value="1">
                                                        <input type="hidden"
                                                               name="lineItems[{{ lineItem.identifier }}][quantity]"
                                                               value="{{ lineItem.quantity }}">
                                                    {% endif %}
                                                {% endblock %}
                                            {% endfor %}
                                        {% endblock %}

                                        {% block page_account_order_item_detail_reorder_button %}
<!--                                             <button id="orderRepeaButton" class="btn btn-buy order-item-detail-reorder-btn"
                                                    title="{{ "account.orderLinkRepeat"|trans|striptags }}">
                                                {{ "account.orderLinkRepeat"|trans|sw_sanitize }}
                                            </button> -->
                                            {% if orderDetails|length > 0 %}
                                              <script>document.getElementById('orderRepeatForm').submit();</script>
                                            {% endif %}
                                        {% endblock %}
                                    </form>
                                {% endblock %}
                            </div>
                        </div>
                {% endblock %}

            </div>
        {% endblock %}
    </main>
{% endblock %}
