{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-payment.html.twig' %}

{% block page_checkout_confirm_payment_current_text %}

    {% if context.paymentMethod.translated.name == 'Buckaroo iDEAL' %}
    <strong>{{ "checkout.confirmCurrentPaymentShipping"|trans }}</strong>
        {{ page.extensions.buckaroo.payment_method_name }}
    {% elseif context.paymentMethod.translated.name == 'Buckaroo iDEAL Processing' %}
        <strong>{{ "checkout.confirmCurrentPaymentShipping"|trans }}</strong>
        {{ page.extensions.buckaroo.payment_method_name_processing }}
    {% elseif context.paymentMethod.translated.name == 'Buckaroo Creditcards' %}
        <strong>{{ "checkout.confirmCurrentPaymentShipping"|trans }}</strong>
        {{ page.extensions.buckaroo.payment_method_name_card }}
    {% elseif context.paymentMethod.translated.name == 'AfterPay' %}
        <strong>{{ "checkout.confirmCurrentPaymentShipping"|trans }}</strong>
        {{ page.extensions.buckaroo.payment_method_name_card }}

    <div class="payment-method-second-col billing-address-form">
        <fieldset class="fieldset payment">

            <div class="form-group">
                <label class="form-label" for="buckarooAfterpayPhone">
                    {{ "bkr-checkout.buckarooAfterpayPhone"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                </label>

                <input type="text"
                       class="form-control{% if formViolations.getViolations('/title') %} is-invalid{% endif %}"
                       form="confirmOrderForm"
                       id="buckarooAfterpayPhone"
                       name="buckaroo_afterpay_phone"
                       placeholder="{{ "bkr-checkout.buckarooAfterpayPhonePlaceholder"|trans|striptags }}{{ "general.required"|trans|striptags }}"
                       value=""
                       required="required"
                       minlength="10">
            </div>

            <div class="form-group">
                <label class="label" for="buckaroo_afterpay_DoB">{{ "bkr-checkout.buckarooAfterpayDoBTitle"|trans }}:</label>
                <span><sup>{{ "bkr-checkout.buckarooAfterpayDoBTitleSup"|trans }}</sup></span>
                <div class="control">
                    <input id="buckaroo_afterpay_DoB" 
                    class="form-control field _has-datepicker" 
                    type="date"
                    min='{{ "now"|date_modify("-18 years")|date("m/d/Y") }}'
                    name="buckaroo_afterpay_DoB"
                    form="confirmOrderForm"
                    required="required"
                    autocomplete="on" >
                </div>
            </div>

            <div class="custom-control custom-checkbox">
                <input id="buckaroo_afterpay_TermsCondition" class="custom-control-input" form="confirmOrderForm" name="buckaroo_afterpay_TermsCondition" required="required" type="checkbox">
                <label class="custom-control-label" for="buckaroo_afterpay_TermsCondition"> <span>{{ "bkr-checkout.buckarooAfterpayTermsConditionTitle"|trans }}:</span> </label>
                <span>
                    <a target="_blank" href="https://documents.myafterpay.com/consumer-terms-conditions/nl_nl/">{{ "bkr-checkout.buckarooAfterpayTermsCondition"|trans }}</a>
                </span>
            </div>

        </fieldset>
    </div>

    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
