{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-payment.html.twig' %}


{% block page_checkout_confirm_payment_inner %}
    {{ parent() }}
    {% if context.paymentMethod.formattedHandlerIdentifier == 'handler_buckaroo_applepaypaymenthandler' %}
        <div id="applepay-button-container" class="applepay-button-container" style="display:none;">
            <div></div>
        </div>
        <input type="hidden"
               form="confirmOrderForm"
               id="applePayInfo"
               name="applePayInfo"
               value="">
        <script>
            window.isApplePay = true;
            if (!window.buckaroo) {
                window.buckaroo = {
                    submit: false,
                    csrf: {
                        '/Buckaroo/applepayInit': '{{ sw_csrf("frontend.buckaroo.applepayInit", {"mode": "token"}) }}',
                        '/Buckaroo/applepaySaveOrder': '{{ sw_csrf("frontend.buckaroo.applepaySaveOrder", {"mode": "token"}) }}'
                    }
                };
            }
            setTimeout(function() {
                if (document.getElementById('confirmFormSubmit')) {
                    document.getElementById('confirmFormSubmit').disabled = true;
                    document.getElementById('confirmFormSubmit').addEventListener('click', function(e){
                        e.stopPropagation();
                    });
                }
            }, 200)
        </script>
        <script type="module" src="{{ asset('/bundles/buckaroopayments/storefront/buckaroo/js/applepay/index.js') }}"></script>
    {% endif %}

    {% if page.extensions.buckaroo.showPaypalExpress %}
        {% set paypalExpressOptions = {
            page: "checkout",
            merchantId: page.extensions.buckaroo.paypalMerchantId,
            websiteKey: page.extensions.buckaroo.websiteKey,
            i18n: {
                cancel_error_message: "buckaroo.checkout.cancelOrderMessage"|trans|sw_sanitize,
                cannot_create_payment :"buckaroo.checkout.cannotCreatePayment"|trans|sw_sanitize
            },
             csrf: {
                create: sw_csrf("frontend.action.buckaroo.paypalExpressCreate", {"mode": "token"}),
                pay: sw_csrf("frontend.action.buckaroo.paypalExpressPay", {"mode": "token"})
            }
        } %}

        <div style="margin-top:15px;" class="bk-paypal-express" data-paypal-express data-paypal-express-plugin-options='{{ paypalExpressOptions|json_encode }}'>
            <div class="buckaroo-paypal-express"></div>
        </div>
    {% endif %}

{% endblock %}
