{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_button_container %}
    {{ parent() }}
    {% if page.extensions.buckaroo.showPaypalExpress %}
        <div class="col-12 p-0">
            {% set paypalExpressOptions = {
                page: "product",
                merchantId: page.extensions.buckaroo.paypalMerchantId,
                websiteKey: page.extensions.buckaroo.websiteKey,
                i18n: {
                    cancel_error_message: "buckaroo.checkout.cancelOrderMessage"|trans|sw_sanitize,
                    cannot_create_payment :"buckaroo.checkout.cannotCreatePayment"|trans|sw_sanitize
                }
            } %}

            <div style="margin-top:15px;" class="bk-paypal-express" data-paypal-express data-paypal-express-plugin-options='{{ paypalExpressOptions|json_encode }}'>
                <div class="buckaroo-paypal-express"></div>
            </div>
        </div>
    {% endif %}

     {% if page.extensions.buckaroo.applepayShowProduct %}
        <div class="col-12 p-0">
            {% set applePayConfig = {
                page: "product",
                merchantId: page.extensions.buckaroo.applePayMerchantId,
                cultureCode: page.header.activeLanguage.translationCode.code,
                i18n: {
                    cancel_error_message: "buckaroo.checkout.cancelOrderMessage"|trans|sw_sanitize,
                    cannot_create_payment :"buckaroo.checkout.cannotCreatePayment"|trans|sw_sanitize
                }
            } %}
            <div data-bk-applepay data-buckaroo-apple-pay-plugin-options='{{ applePayConfig|json_encode }}'></div>
            <div class="bk-apple-pay-button" style="margin-top: 10px;"> </div>
        </div>
     {% endif %}
     {% if page.extensions.buckaroo.showIdealFastCheckout %}
        <div class="col-12 p-0">
            {% set idealFastCheckoutConfig = {
                page: "product",
                websiteKey: page.extensions.buckaroo.websiteKey,
                i18n: {
                    cancel_error_message: "buckaroo.checkout.cancelOrderMessage"|trans|sw_sanitize,
                    cannot_create_payment :"buckaroo.checkout.cannotCreatePayment"|trans|sw_sanitize
                }
            } %}
            <div data-bk-ideal-fast-checkout data-buckaroo-ideal-fast-checkout-plugin-options='{{ idealFastCheckoutConfig|json_encode }}'>
                <div  class="bk-ideal-fast-checkout"  id="fast-checkout-ideal-btn" style="">
                    <img
                            src="{{ asset("bundles/buckaroopayments/storefront/buckaroo/#{page.extensions.buckaroo.idealFastCheckoutLogo}.png")}}"
                            alt="Ideal Snel bestellen"
                    />
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
