{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_cart_action_proceed %}
    {{ parent() }}
    {% if shopware.config.BuckarooPayments.config.applepayShowCart %}
        <div id="applepay-button-container" class="applepay-button-container" style="margin-top: 10px;">
            <div></div>
        </div>
        <script>
            if (!window.buckaroo) {
                window.buckaroo = {
                    submit: false,
                    csrf: {
                        '/Buckaroo/applepayInitNonCheckout': '{{ sw_csrf("frontend.buckaroo.applepayInitNonCheckout", {"mode": "token"}) }}',
                        '/Buckaroo/applepaySaveOrder': '{{ sw_csrf("frontend.buckaroo.applepaySaveOrder", {"mode": "token"}) }}'
                    }
                };
            }
        </script>
        <script type="module" src="{{ asset('/bundles/buckaroopayments/storefront/buckaroo/js/applepay/index.js') }}"></script>
    {% endif %}
    {% if page.extensions.buckaroo.showPaypalExpress %}
        {% set paypalExpressOptions = {
            page: "cart",
            merchantId: page.extensions.buckaroo.paypalMerchantId,
            websiteKey: page.extensions.buckaroo.websiteKey,
            i18n: {
                cancel_error_message: "buckaroo.checkout.cancelOrderMessage"|trans|sw_sanitize,
                cannot_create_payment :"buckaroo.checkout.cannotCreatePayment"|trans|sw_sanitize
            },
             csrf: {
                create: sw_csrf("frontend.action.buckaroo.paypalExpressCreate", {"mode": "token"}),
                pay: sw_csrf("frontend.action.buckaroo.paypalExpressPay", {"mode": "token"})
            }
        } %}

        <div style="margin-top:15px;" class="bk-paypal-express" data-paypal-express data-paypal-express-plugin-options='{{ paypalExpressOptions|json_encode }}'>
            <div class="buckaroo-paypal-express"></div>
        </div>
    {% endif %}
{% endblock %}
