{% if isMobile %}
    <div>
        <label><strong>{{ "buckaroo.checkout.selectBankIssuer"|trans|sw_sanitize }}</strong>*:</label>
        <select name="payBybankMethodId" id="payBybankMethodId" form="confirmOrderForm" required="required" class="form-control" required-message="{{ "buckaroo.checkout.bankRequiredError"|trans|sw_sanitize }}">
            <option value="">{{ "buckaroo.checkout.selectBankIssuer"|trans }}</option>
                {% for issuer in payByBankIssuers %}
                    <option {% if issuer.selected === true %} selected {% endif %} value="{{ issuer.code }}">{{ issuer.name }}</option>
                {% endfor %}
        </select>  
    </div>
{% else %}
    <div class="bk-paybybank-selector">
        <label><strong>{{ "buckaroo.checkout.selectBankIssuer"|trans|sw_sanitize }}</strong>*:</label>
        <div class="radio-group-required" required="required" required-message="{{ "buckaroo.checkout.bankRequiredError"|trans|sw_sanitize }}">
        {% for issuer in payByBankIssuers %}
            <div class="custom-control custom-radio bankMethod{{ issuer.code }} bank-control">
                <input type="radio"
                form="confirmOrderForm"
                {% if issuer.selected === true %} checked {% endif %}
                id="bankMethod{{ issuer.code }}"
                name="payBybankMethodId"
                value="{{ issuer.code }}"
                class="custom-control-input bank-method-input">
                <label class="custom-control-label bank-method-label" for="bankMethod{{ issuer.code }}">
                    <img src="{{ asset("bundles/buckaroopayments/storefront/buckaroo/issuers/#{issuer.imgName}.svg")}}" wdith="45" class="bank-method-image" alt="{{ issuer.name }}" title="{{ issuer.name }}">
                    <strong>{{ issuer.name }}</strong>
                </label>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="bk-paybybank-toggle-list">
        <div class="bk-toggle-wrap">
            <div class="bk-toggle-text"
            text-less="{{ "buckaroo.checkout.lessBanks"|trans|sw_sanitize }}"
            text-more="{{ "buckaroo.checkout.moreBanks"|trans|sw_sanitize }}"
            >
                {{ "buckaroo.checkout.moreBanks"|trans|sw_sanitize }}
            </div>
            <div class="bk-toggle bk-toggle-down"></div>
        </div>
    </div>
{% endif %}