{% block buckaroo_payment_detail %}
    <div class="buckaroo-payment-detail">
        
        <sw-card positionIdentifier="bk-paylink" :title="$tc('buckaroo-payment.paymentDetail.paylinkTitle')" v-if="isPaylinkVisible">

            {{ $tc('buckaroo-payment.paymentDetail.paylinkDescription') }}
            
            <span v-if="paylink"> <br>
            {{ $tc('buckaroo-payment.paymentDetail.yourLink') }}: <a :href="paylink">{{ paylink }}</a>
            </span>

            <sw-container columns="1fr 440px" class="sw-order-detail__summary">
                <sw-description-list grid="265px 1fr" class="sw-order-detail__summary-data"><dt></dt> <dd>
            
                        <sw-button @click="createPaylink(orderId)" :disabled="!isPaylinkAvailable">
                            {{ $tc('buckaroo-payment.paymentDetail.paylinkButton') }}
                        </sw-button></dd>
                </sw-description-list>
            </sw-container>

        </sw-card>

         <sw-card positionIdentifier="bk-refund" :title="$tc('buckaroo-payment.paymentDetail.refundTitle')">
            
            {{ $tc('buckaroo-payment.orderItems.title') }}
            <sw-data-grid :dataSource="orderItems"
                :columns="orderItemsColumns"
                :showActions="false"
                :showSelection="false">

                    <template #column-name="{ item }">
                        <sw-product-variant-info :showTooltip="false" :variations="item.variations">
                            {{ item.name }}
                        </sw-product-variant-info>
                    </template>
                    <template #column-quantity="{ item }">
                        <input class="bk-reund-qty" type="number" min="0" :max="item.quantityMax" v-model="item.quantity" @input="recalculateOrderItems" onkeydown="return event.keyCode !== 69">
                    </template>

            </sw-data-grid>

            <sw-container columns="1fr 440px" class="sw-order-detail__summary">
                <sw-description-list grid="265px 1fr" class="sw-order-detail__summary-data">
                        <dt>{{ $tc('buckaroo-payment.paymentDetail.amountTotalTitle') }}: </dt>
                        <dd>{{ buckaroo_refund_amount }}  {{ currency }}</dd>
                </sw-description-list>
            </sw-container>
                 
            <sw-card-section divider="top" secondary slim>
                <sw-container columns="1fr 440px"
                              class="sw-order-detail__summary">
                </sw-container>

                <sw-data-grid :dataSource="transactionsToRefund"
                    :columns="transactionsToRefundColumns"
                    :showHeader="false"
                    :showActions="false"
                    :showSelection="false">

                        <template #column-transaction_method="{ item }">
                                <span v-if="item.transaction_method == 'KbcPaymentButton'">
                                    Kbc
                                </span>
                                <span v-else>
                                    {{ item.transaction_method }}
                                </span>
                        </template>

                        <template #column-amount="{ item }">
                            <input type="number" min="0" :max="item.amountMax" v-model="item.amount"  @input="recalculateRefundItems" onkeydown="return event.keyCode !== 69">
                        </template>

                </sw-data-grid>

                <sw-container v-if="!isAuthorized" columns="1fr 440px" class="sw-order-detail__summary">
                    <sw-description-list grid="265px 1fr" class="sw-order-detail__summary-data">
                            <dt>{{ $tc('buckaroo-payment.paymentDetail.amountCustomRefundTitle') }}: </dt>
                            <dd>
                                <input id="buckaroo_custom_refund_enabled" type="checkbox"
                                       @click="toggleCustomRefund()">
                                <input id="buckaroo_custom_refund_amount" type="number"
                                       v-model="buckaroo_refund_total_amount" disabled style="width:70px;"> {{ currency }}
                            </dd>
                    </sw-description-list>
                    <sw-description-list grid="265px 1fr" class="sw-order-detail__summary-data">
                            <dt>{{ $tc('buckaroo-payment.paymentDetail.amountRefundTotalTitle') }}: </dt>
                            <dd>{{ buckaroo_refund_total_amount }} {{ currency }}</dd>
                    </sw-description-list>
                </sw-container>
                 
            </sw-card-section>

            <sw-container columns="1fr 440px" class="sw-order-detail__summary">
                <sw-description-list grid="265px 1fr" class="sw-order-detail__summary-data"><dt></dt><dd>
                    <sw-button @click="refundOrder(orderId, buckaroo_refund_amount)" :disabled="!isRefundPossible || isAuthorized">
                    {{ $tc('buckaroo-payment.paymentDetail.buttonTitle') }}
                    </sw-button></dd>
                </sw-description-list>
            </sw-container>

         </sw-card>

        <sw-card positionIdentifier="bk-pay-desc" :title="$tc('buckaroo-payment.paymentDetail.payTitle')">

            {{ $tc('buckaroo-payment.paymentDetail.payDescription') }}

            <sw-container columns="1fr 440px" class="sw-order-detail__summary">
                <sw-description-list grid="265px 1fr" class="sw-order-detail__summary-data"><dt></dt><dd>
                        <sw-button @click="captureOrder(orderId)" :disabled="!isCapturePossible">
                            {{ $tc('buckaroo-payment.paymentDetail.payButton') }}
                        </sw-button></dd>
                </sw-description-list>
            </sw-container>

        </sw-card>

         <sw-card positionIdentifier="bk-pay-transaction" :title="$tc('buckaroo-payment.paymentDetail.transactionsTitle')">
            <sw-data-grid :dataSource="relatedResources"
                :columns="relatedResourceColumns"
                :showActions="false"
                :showSelection="false">

                    <template #column-transaction_method="{ item }">
                            <span v-if="item.transaction_method == 'KbcPaymentButton'">
                                Kbc
                            </span>
                            <span v-else>
                                {{ item.transaction_method }}
                            </span>
                    </template>

            </sw-data-grid>
         </sw-card>


        <sw-loader v-if="isLoading">
        </sw-loader>
    </div>
{% endblock %}