{% block buckaroo_payment_method_billink %}
    <div class="payment-method-second-col billing-address-form">
        <fieldset class="fieldset payment">
            <div class="form-row">
                <div class="form-group col-md-3 col-sm-6">
                    <label class="form-label" for="buckaroo_billink_gender">
                        {{ "buckaroo.checkout.gender" | trans }}*
                    </label>
                    <select class="custom-select" id="buckaroo_billink_gender" name="buckaroo_billink_gender" required="required" form="confirmOrderForm">
                        <option {% if context.customer.salutation.salutationKey == 'mr' %} selected="selected" {% endif %} value="Male">{{ "buckaroo.checkout.male" | trans }}</option>
                        <option {% if context.customer.salutation.salutationKey == 'mrs' %} selected="selected" {% endif %} value="Female">{{ "buckaroo.checkout.female" | trans }}</option>
                        <option value="Unknown">{{ "buckaroo.checkout.they" | trans }}</option>
                        <option value="Unknown">{{ "buckaroo.checkout.unknown" | trans }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="buckarooBillinkPhone">
                    {{ "buckaroo.checkout.Phone"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                </label>
                <input type="text"
                       class="form-control{% if formViolations.getViolations('/title') %} is-invalid{% endif %}"
                       form="confirmOrderForm"
                       id="buckarooBillinkPhone"
                       name="buckaroo_billink_phone"
                       placeholder="{{ "buckaroo.checkout.PhonePlaceholder"|trans|striptags }}{{ "general.required"|trans|striptags }}"
                       value=""
                       required="required"
                       minlength="10">
                <label class="form-label" style="display:none; color:red" for="buckarooBillinkPhone" id="buckarooMobilePhoneError">
                    {{ "buckaroo.checkout.buckarooMobilePhoneError"|trans|sw_sanitize }}
                </label>
            </div>
            {% if page.extensions.buckaroo.BillinkBusiness == 'B2B' %}
                <div class="form-group">
                    <label class="form-label" for="buckarooChamberOfCommerce">
                        {{ "buckaroo.checkout.ChamberOfCommerce"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                    </label>
                    <input type="text"
                           class="form-control{% if formViolations.getViolations('/title') %} is-invalid{% endif %}"
                           form="confirmOrderForm"
                           id="buckarooChamberOfCommerce"
                           name="buckaroo_ChamberOfCommerce"
                           placeholder="{{ "buckaroo.checkout.ChamberOfCommercePlaceholder"|trans|striptags }}{{ "general.required"|trans|striptags }}"
                           value=""
                           required="required"
                           minlength="3">
                    <label class="form-label" style="display:none; color:red" for="buckarooChamberOfCommerce" id="buckarooChamberOfCommerceError">
                        {{ "buckaroo.checkout.buckarooMobilePhoneError"|trans|sw_sanitize }}
                    </label>
                </div>
                <div class="form-group">
                    <label class="form-label" for="buckarooVATNumber">
                        {{ "buckaroo.checkout.VATNumber"|trans|sw_sanitize }}
                    </label>
                    <input type="text"
                           class="form-control{% if formViolations.getViolations('/title') %} is-invalid{% endif %}"
                           form="confirmOrderForm"
                           id="buckarooVATNumber"
                           name="buckaroo_VATNumber"
                           placeholder="{{ "buckaroo.checkout.VATNumberPlaceholder"|trans|striptags }}"
                           value=""
                           minlength="3">
                    <label class="form-label" style="display:none; color:red" for="buckarooVATNumber" id="buckarooVATNumberError">
                        {{ "buckaroo.checkout.buckarooMobilePhoneError"|trans|sw_sanitize }}
                    </label>
                </div>
            {% else %}
                <div class="form-group">
                    <label class="label" for="buckaroo_billink_DoB">{{ "buckaroo.checkout.buckarooAfterpayDoBTitle"|trans }}:</label>
                    <span><sup>{{ "buckaroo.checkout.buckarooAfterpayDoBTitleSup"|trans }}</sup></span>
                    <div class="control">
                        <input id="buckaroo_billink_DoB" 
                        class="form-control field" 
                        type="date"
                        max='{{ "now"|date_modify("-18 years")|date("Y-m-d") }}'
                        name="buckaroo_billink_DoB"
                        form="confirmOrderForm"
                        required="required"
                        >
                        <label class="form-label" style="display:none; color:red" for="buckaroo_billink_DoB" id="buckarooDoBError">
                            {{ "buckaroo.checkout.buckarooDoBError"|trans|sw_sanitize }}
                        </label>
                    </div>
                </div>
            {% endif %}
            <div class="custom-control custom-checkbox">
                <input id="buckaroo_afterpay_TermsCondition" class="custom-control-input" form="confirmOrderForm" name="buckaroo_afterpay_TermsCondition" required="required" type="checkbox">
                <label class="custom-control-label" for="buckaroo_afterpay_TermsCondition"> <span>{{ "buckaroo.checkout.buckarooAfterpayTermsConditionTitle"|trans }}:</span> </label>
                <span>
                    <a target="_blank" href="https://www.billink.nl/app/uploads/2021/05/Gebruikersvoorwaarden-Billink_V11052021.pdf">{{ "buckaroo.checkout.buckarooBillinkTermsCondition"|trans }}</a>
                </span>
            </div>
            {% if buckarooKey in methodsWithFinancialWarning and countryBillingIso == 'NL' %}
                <div style="margin:10px 0; font-size:0.8rem">{{ "buckaroo.checkout.financialWarning" | trans({'%method%': paymentMethodName}) }}</div>
            {% endif %}
        </fieldset>
    </div>
{% endblock %} 