{% block buckaroo_payment_method_capayable %}
    <div class="payment-method-second-col billing-address-form">
        <fieldset class="fieldset payment">
            <div class="form-group">
                <label class="form-label" for="buckarooIn3Phone">
                    {{ "buckaroo.checkout.Phone"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                </label>
                <input type="text"
                       class="form-control{% if formViolations.getViolations('/title') %} is-invalid{% endif %}"
                       form="confirmOrderForm"
                       id="buckarooIn3Phone"
                       name="buckaroo_in3_phone"
                       placeholder="{{ "buckaroo.checkout.PhonePlaceholder"|trans|striptags }}{{ "general.required"|trans|striptags }}"
                       value=""
                       required="required"
                       minlength="10">
                <label class="form-label" style="display:none; color:red" for="buckarooIn3Phone" id="buckarooMobilePhoneError">
                    {{ "buckaroo.checkout.buckarooMobilePhoneError"|trans|sw_sanitize }}
                </label>
            </div>
            <div class="form-group">
                <label class="label" for="buckaroo_capayablein3_DoB">{{ "buckaroo.checkout.buckarooAfterpayDoBTitle"|trans }}:</label>
                <span><sup>{{ "buckaroo.checkout.buckarooAfterpayDoBTitleSup"|trans }}</sup></span>
                <div class="control">
                    <input id="buckaroo_capayablein3_DoB" 
                    class="form-control field" 
                    type="date"
                    max='{{ "now"|date_modify("-18 years")|date("Y-m-d") }}'
                    name="buckaroo_capayablein3_DoB"
                    form="confirmOrderForm"
                    required="required"
                    >
                <label class="form-label" style="display:none; color:red" for="buckaroo_capayablein3_DoB" id="buckarooDoBError">
                    {{ "buckaroo.checkout.buckarooDoBError"|trans|sw_sanitize }}
                </label>
                </div>
            </div>
            {% set in3HasCompany = context.customer.activeBillingAddress.company|default('')|trim|length > 0 %}
            {% if in3HasCompany %}
                <input type="hidden" name="buckaroo_capayablein3_orderAs" value="Company" form="confirmOrderForm">
                <div class="form-group">
                    <label class="label" for="buckaroo_capayablein3_COCNumber">{{ "buckaroo.checkout.cOCNumber"|trans }}:</label>
                    <div class="control">
                        <input id="buckaroo_capayablein3_COCNumber"
                               class="form-control field"
                               type="text"
                               name="buckaroo_capayablein3_COCNumber"
                               form="confirmOrderForm"
                               minlength="8"
                               required="required">
                    </div>
                </div>
            {% else %}
                <input type="hidden" name="buckaroo_capayablein3_orderAs" value="Debtor" form="confirmOrderForm">
            {% endif %}
        </fieldset>
    </div>
{% endblock %} 