{% block buckaroo_payment_method_klarnakp %}
    <div class="payment-method-second-col billing-address-form">
        <fieldset class="fieldset payment">
            <div class="form-group">
                <label class="form-label" for="buckarooKlarnakpPhone">
                    {{ "buckaroo.checkout.buckarooKlarnakpPhone"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                </label>
                <input type="text"
                       class="form-control{% if formViolations.getViolations('/title') %} is-invalid{% endif %}"
                       form="confirmOrderForm"
                       id="buckarooKlarnakpPhone"
                       name="buckaroo_klarnakp_phone"
                       placeholder="{{ "buckaroo.checkout.buckarooKlarnakpPhonePlaceholder"|trans|striptags }}{{ "general.required"|trans|striptags }}"
                       value=""
                       required="required"
                       minlength="10">
            </div>
            <div class="form-group">
                <label class="label" for="buckaroo_klarnakp_DoB">{{ "buckaroo.checkout.buckarooKlarnakpDoBTitle"|trans }}:</label>
                <span><sup>{{ "buckaroo.checkout.buckarooKlarnakpDoBTitleSup"|trans }}</sup></span>
                <div class="control">
                    <input id="buckaroo_klarnakp_DoB"
                           class="form-control field"
                           type="date"
                           name="buckaroo_klarnakp_DoB"
                           form="confirmOrderForm"
                           required="required"
                    >
                </div>
            </div>
            {% if buckarooKey in methodsWithFinancialWarning and countryBillingIso == 'NL' %}
                <div style="margin:10px 0; font-size:0.8rem">{{ "buckaroo.checkout.financialWarning" | trans({'%method%': paymentMethodName}) }}</div>
            {% endif %}
        </fieldset>
    </div>
{% endblock %} 