{% block buckaroo_payment_method_klarna %}
    <div class="form-group">
        <label class="form-label" for="buckaroo-klarna-gender">
            {{ "buckaroo.payment.klarna.gender"|trans|sw_sanitize }}
        </label>
        <select class="form-select" id="buckaroo-klarna-gender" name="buckaroo-klarna-gender" required="required">
            <option value="">{{ "buckaroo.payment.klarna.select_gender"|trans|sw_sanitize }}</option>
            <option value="1">{{ "buckaroo.payment.klarna.gender_male"|trans|sw_sanitize }}</option>
            <option value="2">{{ "buckaroo.payment.klarna.gender_female"|trans|sw_sanitize }}</option>
        </select>
    </div>

    <div class="form-group">
        <label class="form-label" for="buckaroo-klarna-birthdate">
            {{ "buckaroo.payment.klarna.birthdate"|trans|sw_sanitize }}
        </label>
        <input type="date" class="form-control" id="buckaroo-klarna-birthdate" name="buckaroo-klarna-birthdate" required="required">
    </div>

    <div class="form-group">
        <label class="form-label" for="buckaroo-klarna-phone">
            {{ "buckaroo.payment.klarna.phone"|trans|sw_sanitize }}
        </label>
        <input type="tel" class="form-control" id="buckaroo-klarna-phone" name="buckaroo-klarna-phone" required="required">
    </div>
{% endblock %} 