{% block buckaroo_payment_method_klarnain %}
    <div class="payment-method-second-col billing-address-form">
        <fieldset class="fieldset payment">
            <div class="form-group">
                <label class="form-label" for="buckarooKlarnainPhone">
                    {{ "buckaroo.checkout.buckarooKlarnakpPhone"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                </label>

                <input type="text"
                       class="form-control{% if formViolations.getViolations('/title') %} is-invalid{% endif %}"
                       form="confirmOrderForm"
                       id="buckarooKlarnainPhone"
                       name="buckaroo_klarnain_phone"
                       placeholder="{{ "buckaroo.checkout.buckarooKlarnakpPhonePlaceholder"|trans|striptags }}{{ "general.required"|trans|striptags }}"
                       value=""
                       required="required"
                       minlength="10">
            </div>

            <div class="form-group">
                <label class="label" for="buckaroo_klarnain_DoB">{{ "buckaroo.checkout.buckarooKlarnakpDoBTitle"|trans }}:</label>
                <span><sup>{{ "buckaroo.checkout.buckarooKlarnakpDoBTitleSup"|trans }}</sup></span>
                <div class="control">
                    <input id="buckaroo_klarnain_DoB"
                           class="form-control field"
                           type="date"
                           name="buckaroo_klarnain_DoB"
                           form="confirmOrderForm"
                           required="required">
                </div>
            </div>
        </fieldset>
    </div>
{% endblock %} 