{% block buckaroo_payment_method_paybybank %}
    {% if page.extensions.buckaroo.bankIssuers is defined and page.extensions.buckaroo.bankIssuers|length > 0 %}
        <div class="form-group">
            <label class="form-label" for="buckaroo-paybybank-select">
                {{ "buckaroo.payment.paybybank.select_bank"|trans|sw_sanitize }}
            </label>
            <select class="form-select" id="buckaroo-paybybank-select" name="buckaroo-paybybank-select" required="required">
                <option value="">{{ "buckaroo.payment.paybybank.select_placeholder"|trans|sw_sanitize }}</option>
                {% for issuer in page.extensions.buckaroo.bankIssuers %}
                    <option value="{{ issuer.id }}">
                        {{ issuer.name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="buckaroo-paybybank-issuers">
            {% for issuer in page.extensions.buckaroo.bankIssuers %}
                <div class="buckaroo-paybybank-issuer">
                    <input type="radio" id="issuer-{{ issuer.id }}" name="buckaroo-paybybank-issuer" value="{{ issuer.id }}" required="required">
                    <label for="issuer-{{ issuer.id }}">
                        {% if issuer.image is defined %}
                            <img src="{{ issuer.image }}" alt="{{ issuer.name }}" class="buckaroo-paybybank-issuer-image">
                        {% endif %}
                        <span class="buckaroo-paybybank-issuer-name">{{ issuer.name }}</span>
                    </label>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %} 