{% sw_extends '@Storefront/storefront/component/payment/payment-method.html.twig' %}
{% block component_payment_method_field %}
    {% if payment.translated.customFields.is_buckaroo %}
        <div class="payment-method">

            {% if payment.translated.customFields.buckaroo_key !== 'applepay'|| (payment.translated.customFields.buckaroo_key === 'applepay' && page.extensions.buckaroo.applepayHostedPaymentPage) %}
                <div class="payment-form-group form-group mb-0">
                    {% block component_payment_method_control %}
                        <div class="form-check custom-radio payment-method-radio bk-{{ payment.translated.customFields.buckaroo_key }}">
                            {% block component_payment_method_input %}
                                <input type="radio" id="paymentMethod{{ payment.id }}" name="paymentMethodId" value="{{ payment.id }}" {% if payment.id is same as(selectedPaymentMethodId) %}checked="checked"{% endif %} class="form-check-input payment-method-input">
                            {% endblock %}

                            {% block component_payment_method_label %}
                                <label class="form-check-label payment-method-label" for="paymentMethod{{ payment.id }}">
                                    {% block component_payment_method_image %}
                                        {% set paymentMedia = payment.media %}
                                        {% if (payment.translated.customFields.buckaroo_key === 'capayable' and page.extensions.buckaroo.in3Logo !== null) %}
                                            {% set paymentMedia = page.extensions.buckaroo.in3Logo %}
                                        {% endif %}

                                        {% if paymentMedia %}
                                            {% sw_thumbnails 'payment-method-image-thumbnails' with {
                                                media: paymentMedia,
                                                sizes: {
                                                    'default': '100px'
                                                },
                                                attributes: {
                                                    'class': 'payment-method-image bk-payment-image',
                                                    'alt': (paymentMedia.translated.alt ?: payment.translated.name),
                                                    'title': (paymentMedia.translated.title ?: payment.translated.name)
                                                }
                                            } %}
                                        {% endif %}
                                    {% endblock %}

                                    {% block component_payment_method_description %}
                                        <div class="payment-method-description">
                                            <strong>{{ page.extensions.buckaroo.payment_labels[payment.translated.customFields.buckaroo_key]?:payment.translated.name }}</strong>
                                            {% if payment.translated.description %}
                                                {% set paymentDescription = payment.translated.description|raw %}

                                                {% if not payment.id is same as(selectedPaymentMethodId) %}
                                                    {% set paymentDescription = (paymentDescription|length > 75 ? paymentDescription[:75] ~ ' ...' : paymentDescription) %}
                                                {% endif %}

                                                <p title="{{ payment.translated.description|raw }}">{{ paymentDescription }}</p>
                                            {% endif %}
                                        </div>
                                    {% endblock %}
                                </label>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endif %}

            {# Shopware 6.7 Fix: Add payment inputs directly here since component_payment_fieldset_template doesn't work properly #}
            {% if payment.translated.customFields.is_buckaroo and payment.id is same as(selectedPaymentMethodId) %}
                {% set buckarooKey = payment.translated.customFields.buckaroo_key %}
                <div class="buckaroo-payment-inputs" style="margin-top: 15px;">
                    {% if buckarooKey == 'bancontactmrcash' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/bancontactmrcash.html.twig' %}
                    {% elseif buckarooKey == 'creditcard' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/creditcard.html.twig' %}
                    {% elseif buckarooKey == 'creditcards' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/creditcards.html.twig' %}
                    {% elseif buckarooKey == 'afterpay' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/afterpay.html.twig' %}
                    {% elseif buckarooKey == 'Billink' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/billink.html.twig' %}
                    {% elseif buckarooKey == 'capayable' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/capayable.html.twig' %}
                    {% elseif buckarooKey == 'sepadirectdebit' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/sepadirectdebit.html.twig' %}
                    {% elseif buckarooKey == 'klarna' or buckarooKey == 'klarnain' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/klarna.html.twig' %}
                    {% elseif buckarooKey == 'klarnakp' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/klarnakp.html.twig' %}
                    {% elseif buckarooKey == 'payperemail' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/payperemail.html.twig' %}
                    {% elseif buckarooKey == 'ideal' or buckarooKey == 'idealprocessing' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/ideal.html.twig' %}
                    {% elseif buckarooKey == 'paybybank' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/paybybank.html.twig' %}
                    {% elseif buckarooKey == 'blik' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/blik.html.twig' %}
                    {% elseif buckarooKey == 'eps' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/eps.html.twig' %}
                    {% elseif buckarooKey == 'kbc' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/kbc.html.twig' %}
                    {% elseif buckarooKey == 'p24' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/p24.html.twig' %}
                    {% elseif buckarooKey == 'mbway' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/mbway.html.twig' %}
                    {% elseif buckarooKey == 'alipay' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/alipay.html.twig' %}
                    {% elseif buckarooKey == 'paypal' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/paypal.html.twig' %}
                    {% elseif buckarooKey == 'belfius' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/belfius.html.twig' %}
                    {% elseif buckarooKey == 'idealqr' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/idealqr.html.twig' %}
                    {% elseif buckarooKey == 'trustly' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/trustly.html.twig' %}
                    {% elseif buckarooKey == 'applepay' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/applepay.html.twig' %}
                    {% elseif buckarooKey == 'payconiq' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/payconiq.html.twig' %}
                    {% elseif buckarooKey == 'transfer' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/transfer.html.twig' %}
                    {% elseif buckarooKey == 'giftcards' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/giftcards.html.twig' %}
                    {% elseif buckarooKey == 'wechatpay' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/wechatpay.html.twig' %}
                    {% elseif buckarooKey == 'multibanco' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/multibanco.html.twig' %}
                    {% elseif buckarooKey == 'knaken' %}
                        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment-methods/knaken.html.twig' %}
                    {% endif %}
                </div>
            {% endif %}

        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block component_payment_fieldset_template %}
    {# This block is kept for backward compatibility but not used in Shopware 6.7 #}
    {{ parent() }}
{% endblock %}