{% sw_extends '@Storefront/storefront/component/payment/payment-method.html.twig' %}
{% block component_payment_method_field %}
{% if payment.translated.customFields.is_buckaroo %}
<div class="payment-method {% if payment.translated.customFields.buckaroo_key === 'applepay' %}bk-applepay{% endif %}">

        {% if payment.translated.customFields.buckaroo_key === 'applepay' %}
            <input type="hidden" id="bk-apple-merchant-id" value="{{page.extensions.buckaroo.applePayMerchantId}}">
        {% endif %}
        
        <div class="payment-form-group form-group mb-0">
            {% block component_payment_method_control %}
                <div class="custom-control custom-radio payment-method-radio bk-{{ payment.translated.customFields.buckaroo_key }}">
                    {% block component_payment_method_input %}
                        <input type="radio"
                               id="paymentMethod{{ payment.id }}"
                               name="paymentMethodId"
                               value="{{ payment.id }}"
                               {% if payment.id is same as(selectedPaymentMethodId) %}checked="checked"{% endif %}
                               class="custom-control-input payment-method-input">
                    {% endblock %}

                    {% block component_payment_method_label %}
                        <label class="custom-control-label payment-method-label"
                               for="paymentMethod{{ payment.id }}">
                            {% block component_payment_method_image %}
                                {% set paymentMedia = payment.media %}
                                {% if (payment.translated.customFields.buckaroo_key === 'capayable' and page.extensions.buckaroo.in3Logo !== null) %}
                                     {% set paymentMedia = page.extensions.buckaroo.in3Logo %}
                                {% endif %}

                                {% if paymentMedia %}
                                    {% sw_thumbnails 'payment-method-image-thumbnails' with {
                                        media: paymentMedia,
                                        sizes: {
                                            'default': '100px'
                                        },
                                        attributes: {
                                            'class': 'payment-method-image',
                                            'alt': (paymentMedia.translated.alt ?: payment.translated.name),
                                            'title': (paymentMedia.translated.title ?: payment.translated.name)
                                        }
                                    } %}
                                {% endif %}
                            {% endblock %}

                            {% block component_payment_method_description %}
                                <div class="payment-method-description">
                                    <strong>{{ page.extensions.buckaroo.payment_labels[payment.translated.customFields.buckaroo_key]?:payment.translated.name }}</strong>
                                    {% if payment.translated.description %}
                                        {% set paymentDescription = payment.translated.description|raw %}

                                        {% if not payment.id is same as(selectedPaymentMethodId) %}
                                            {% set paymentDescription = (paymentDescription|length > 75 ? paymentDescription[:75] ~ ' ...' : paymentDescription) %}
                                        {% endif %}

                                        <p title="{{ payment.translated.description|raw }}">{{ paymentDescription }}</p>
                                    {% endif %}
                                </div>
                            {% endblock %}
                        </label>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>

</div>
{% else %}
 {{ parent() }}
{% endif %}
{% endblock %}

{% block component_payment_fieldset_template %}
    {% if payment.translated.customFields.is_buckaroo %}
        {% sw_include '@BuckarooPayments/storefront/buckaroo/payment_methods.html.twig' %}

        {% if payment.translated.customFields.template %}
            {% sw_include payment.translated.customFields.template ignore missing %}
        {% endif %}
    {% endif %}
    {{ parent() }}
{% endblock %}